---
import { CollectionEntry, getCollection } from "astro:content";
import Page from "@layouts/Page.astro";
import Tags from "@components/Tags.astro";
import Toc from "@components/Toc.astro";
import { getToc } from "@utils/md-toc";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { title, tags, date } = post.data;
const { Content, remarkPluginFrontmatter } = await post.render();

const toc = getToc(remarkPluginFrontmatter.toc.map);
---

<Page title={title}>
    <section class="flex lg:gap-10 justify-between">
        <article class="prose prose-lg max-w-[1024px] prose-img:mx-auto">
            <h1>{title}</h1>
            <h3>{date.toDateString()}</h3>
            <h4>{remarkPluginFrontmatter.minutesRead}</h4>
            <Tags tags={tags} />
            <div class="my-4 lg:hidden">
                <Toc toc={toc} />
            </div>
            <Content />
        </article>
        <div class="hidden lg:block">
            <Toc toc={toc} />
        </div>
    </section>
</Page>

<style is:global>
    span.icon.icon-link::after {
        content: "#";
    }

    span.icon.icon-link {
        @apply mr-2;
    }

    @media (min-width: 1024px) {
        span.icon.icon-link {
            @apply ml-[-1.25rem];
        }
    }
</style>
