---
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import Authors from "@components/Authors.astro";
import Section from "./Section.astro";
import Tags from "@components/Tags.astro";

const PUB_ICONS = {
    code: "fa-solid:terminal",
    pdf: "fa-solid:file-pdf",
    project: "fa-brands:github",
    video: "fa-solid:video",
    slides: "heroicons-outline:presentation-chart-bar",
};

interface Props {
    publications: CollectionEntry<"publications">[];
}

const { publications } = Astro.props;
---

<Section id="publications" title="Publications">
    <div class="grid grid-cols-1 gap-8">
        {
            publications.map(async post => (
                <div class="flex flex-col gap-1">
                    <a
                        class="link link-info"
                        href={`${import.meta.env.BASE_URL}publications/${
                            post.slug
                        }`}
                    >
                        <span class="text-lg">{post.data.title}</span>

                        {post.data.subtitle}
                    </a>
                    <time datetime={post.data.date.toISOString()}>
                        {post.data.date.toDateString()}
                    </time>
                    <Authors authors={post.data.authors} />
                    <div>{post.data.publication}</div>
                    <div class="card-actions">
                        <Tags tags={post.data.tags} />
                    </div>
                    <div>
                        {Object.entries(post.data.urls).map(([key, url]) => (
                            <a
                                class="btn btn-outline btn-info gap-2 mr-2"
                                href={url}
                                target="_blank"
                            >
                                <Icon
                                    name={
                                        PUB_ICONS[
                                            key as keyof typeof post.data.urls
                                        ]
                                    }
                                />
                                {key}
                                <Icon
                                    name="external-link"
                                    style="font-size: 1.1rem;"
                                />
                            </a>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</Section>
