---
import sections from "@components/sections";
import Page from "@layouts/Page.astro";
import { renderCollection } from "@utils/content";
import { Icon } from "astro-icon";
import { type CollectionEntry, getCollection } from "astro:content";

interface Props {
    projects: Awaited<ReturnType<typeof renderCollection<"projects">>>;
    posts: Awaited<ReturnType<typeof renderCollection<"posts">>>;
    publications: CollectionEntry<"publications">[];
}

export async function getStaticPaths() {
    const allProjects = await getCollection("projects");
    const allPosts = await getCollection("posts");
    const allPubs = await getCollection("publications");

    const uniqueTags = [
        ...new Set(
            [allProjects, allPosts, allPubs]
                .map(collection =>
                    collection.map(entry => entry.data.tags).flat()
                )
                .flat()
        ),
    ];

    return await Promise.all(
        uniqueTags.map(async tag => {
            return {
                params: { tag },
                props: {
                    projects: await renderCollection(
                        allProjects.filter(entry =>
                            entry.data.tags.includes(tag)
                        )
                    ),
                    posts: await renderCollection(
                        allPosts.filter(entry => entry.data.tags.includes(tag))
                    ),
                    publications: allPubs.filter(entry =>
                        entry.data.tags.includes(tag)
                    ),
                },
            };
        })
    );
}

const { tag } = Astro.params;
const { projects, posts, publications } = Astro.props;
---

<Page title={`Tag ${tag}`}>
    <h1 class="text-3xl">
        <Icon name="fa-solid:tags" />
        <span class="bg-primary rounded-2xl px-4">
            {tag}
        </span>
    </h1>

    <sections.Projects projects={projects} />
    <sections.Posts posts={posts} />
    <sections.Publications publications={publications} />
</Page>
