---
import { getCollection } from "astro:content";

import Page from "@layouts/Page.astro";

import About from "@components/About.mdx";
import Hero from "@components/Hero.astro";
import Skill from "@components/Skill.astro";

const skills = [
  {
    title: "Software Development",
    subtitle: "Blockchain, Object, Functional & Logic Programming",
    icon: "fas fa-code",
  },
  {
    title: "Software Design",
    subtitle: "Design by Contract, UML, Design Patterns",
    icon: "fas fa-drafting-compass",
  },
  {
    title: "DevOps",
    subtitle: "CI/CD, APM, Test Automation, Unix Toolings",
    icon: "fas fa-terminal",
  },
  {
    title: "Databases",
    subtitle: "Design & Manipulation, SQL",
    icon: "fas fa-database",
  },
  {
    title: "Data Science",
    subtitle: "Analitics, Mining & Visualization",
    icon: "fas fa-chart-line",
  },
  {
    title: "SCMs",
    subtitle: "Git, Subversion, CVS",
    icon: "fab fa-git-alt",
  },
];

const posts = await getCollection("posts");
const publications = await getCollection("publications");
---

<Page title="Luis Mastrangelo">
  <Hero title="sadf" />
  <About />
  <section id="skills">
    <h2>Skills</h2>
    <ul>
      {
        skills.map((skill) => (
          <Skill
            title={skill.title}
            subtitle={skill.subtitle}
            icon={skill.icon}
          />
        ))
      }
    </ul>
  </section>

  <section id="education">
    <h2>Education</h2>
    <ul class="steps steps-vertical">
      <li data-content="asdfasdfasdf" class="step step-primary">Register</li>
      <li class="step step-primary">Choose plan</li>
      <li class="step">Purchase</li>
      <li class="step">Receive Product</li>
    </ul>
  </section>

  <section id="posts">
    <h2>Posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="publications">
    <h2>Publications</h2>
    <ul>
      {
        publications.map((post) => (
          <li>
            <a href={`/publications/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </section>
</Page>

<style>
  .skill-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  .steps-vertical .step {
    grid-template-columns: 200px 1fr;
  }

  .steps-vertical .step::after {
    width: 180px;
  }

  section {
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
    /* color: var(--gray-200); */
  }

  section > h2 {
    width: 15rem;
    /* grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0); */
  }

  section > ul {
    /* grid-column: 2 / 4; */
  }

  @media (min-width: 640px) {
    section {
      /* display: flex; */
      /* flex-direction: column; */
      /* gap: 0.5rem; */
      /* color: var(--gray-200); */
    }

    section > h2 {
      /* grid-column-start: 1; */
      /* font-size: var(--text-xl); */
      /* color: var(--gray-0); */
    }

    section > ul {
      /* grid-column: 2 / 4; */
    }
  }
</style>
