---
import Site from "@layouts/Site.astro";
import About from "@components/About.mdx";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const publications = await getCollection("publications");

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<Site title="Luis Mastrangelo">
  <h1>Hello, World!</h1>
  <About />

  <section id="skills">
    <h1>Skills</h1>
    {
      [
        {
          title: "Software Development",
          subtitle: "Blockchain, Object, Functional & Logic Programming",
          icon: "fas fa-code",
        },
        {
          title: "Software Design",
          subtitle: "Design by Contract, UML, Design Patterns",
          icon: "fas fa-drafting-compass",
        },
        {
          title: "DevOps",
          subtitle: "CI/CD, APM, Test Automation, Unix Toolings",
          icon: "fas fa-terminal",
        },
        {
          title: "Databases",
          subtitle: "Design & Manipulation, SQL",
          icon: "fas fa-database",
        },
        {
          title: "Data Science",
          subtitle: "Analitics, Mining & Visualization",
          icon: "fas fa-chart-line",
        },
        {
          title: "SCMs",
          subtitle: "Git, Subversion, CVS",
          icon: "fab fa-git-alt",
        },
      ].map((skill) => (
        <div class="skill-card">
          <div>{skill.title}</div>
          <div>{skill.subtitle}</div>
          <i class={skill.icon} />
        </div>
      ))
    }
  </section>
  <section id="posts">
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="publications">
    <h1>Publications</h1>
    <ul>
      {
        publications.map((post) => (
          <li>
            <a href={`/publications/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </section>
</Site>

<style>
  h1 {
    color: orange;
  }

  .skill-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

</style>
