---
import { getCollection, getEntryBySlug } from "astro:content";
import { getRenderedCollection, sort } from "@utils";

import Page from "@layouts/Page.astro";

import Skill from "@components/Skill.astro";
import Timeline from "@components/Timeline.astro";
import Hero from "@components/Hero.astro";

const about = await getEntryBySlug("about", "me");
const hero = about.data.hero;
const socials = about.data.socials;
const skills = about.data.skills;
const { Content: About } = await about.render();

const experience = sort(await getRenderedCollection("experience"));
const education = sort(await getRenderedCollection("education"));
const posts = await getRenderedCollection("posts");
const projects = await getRenderedCollection("projects");
const publications = await getCollection("publications");
---

<Page title="Luis Mastrangelo | Profile">

  <Hero
    intro={hero.intro}
    name={hero.name}
    avatar={hero.avatar}
    socials={socials}
  >
    <About />
  </Hero>

  <div class="divider"></div>

  <section id="skills">
    <h2>Skills</h2>
    <div class="grid grid-cols-3 gap-8">
      {
        skills.map((skill) => (
          <Skill
            title={skill.title}
            subtitle={skill.subtitle}
            icon={skill.icon}
          />
        ))
      }
    </div>
  </section>

  <div class="divider"></div>

  <section id="experience">
    <h2>Experience</h2>
    <div class="w-full">
      {
        experience.map((entry) => (
          <Timeline
            title={entry.data.title}
            place={entry.data.company}
            date={entry.data.date.label}
          >
            <entry.Content />
          </Timeline>
        ))
      }
    </div>
  </section>

  <div class="divider"></div>

  <section id="education">
    <h2>Education</h2>
    <div>
      {
        education.map((entry) => (
          <Timeline
            title={entry.data.title}
            place={entry.data.school}
            date={entry.data.date.label}
          >
            <entry.Content />
          </Timeline>
        ))
      }
    </div>
  </section>

  <div class="divider"></div>

  <section id="projects">
    <h2>Projects</h2>
    <div>
      {projects.map((entry) => <li>{entry.data.title}</li>)}
    </div>
  </section>

  <div class="divider"></div>

  <section id="posts">
    <h2>Posts</h2>
    <div>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </div>
  </section>

  <div class="divider"></div>

  <section id="publications">
    <h2>Publications</h2>
    <div>
      {
        publications.map(async (post) => (
          <li>
            <a href={`/publications/${post.slug}`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </div>
  </section>

  <div class="divider"></div>
</Page>

<style>
  section {
    @apply grid grid-cols-4 gap-0 py-8;
  }

  section > h2 {
    @apply text-3xl text-slate-500;
  }

  section > div {
    @apply col-span-3;
  }
</style>
