---
import { getCollection, getEntryBySlug } from "astro:content";
import { getRenderedCollection, sort } from "@utils/content";

import Page from "@layouts/Page.astro";

import Skill from "@components/Skill.astro";
import Timeline from "@components/Timeline.astro";
import TagCloud from "@components/TagCloud.astro";
import sections from "@components/sections";

const about = await getEntryBySlug("about", "me");
const hero = about.data.hero;
const socials = about.data.socials;
const skills = about.data.skills;
const { Content: About } = await about.render();

const experience = sort(await getRenderedCollection("experience"));
const education = sort(await getRenderedCollection("education"));
const projects = await getRenderedCollection("projects");
const posts = await getRenderedCollection("posts");
const publications = await getCollection("publications");
---

<Page title="Profile">
    <sections.Hero
        intro={hero.intro}
        name={hero.name}
        avatar={hero.avatar}
        socials={socials}
    >
        <About />
    </sections.Hero>
    <sections.Section id="skills" title="Skills">
        <div
            class="grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-5 lg:grid-cols-3 lg:gap-7"
        >
            {
                skills.map(skill => (
                    <Skill
                        title={skill.title}
                        subtitle={skill.subtitle}
                        icon={skill.icon}
                    />
                ))
            }
        </div>
    </sections.Section>
    <sections.Section id="experience" title="Experience">
        <div class="w-full">
            {
                experience.map(entry => (
                    <Timeline
                        title={entry.data.title}
                        place={entry.data.company}
                        date={entry.data.date.label}
                    >
                        <entry.Content />
                    </Timeline>
                ))
            }
        </div>
    </sections.Section>
    <sections.Section id="education" title="Education">
        <div>
            {
                education.map(entry => (
                    <Timeline
                        title={entry.data.title}
                        place={entry.data.school}
                        date={entry.data.date.label}
                    >
                        <entry.Content />
                    </Timeline>
                ))
            }
        </div>
    </sections.Section>
    <sections.Projects projects={projects} />
    <sections.Posts posts={posts} />
    <sections.Publications publications={publications} />
    <sections.Section id="tags" title="Tags">
        <div>
            <TagCloud />
        </div>
    </sections.Section>
</Page>
