---
import { CollectionEntry, getCollection } from "astro:content";
import Page from "@layouts/Page.astro";
import Tags from "@components/Tags.astro";
import Authors from "@components/Authors.astro";

export async function getStaticPaths() {
    const pubs = await getCollection("publications");
    return pubs.map(pub => ({
        params: { slug: pub.slug },
        props: { pub },
    }));
}

interface Props {
    pub: CollectionEntry<"publications">;
}

const { pub } = Astro.props;
const { title, subtitle, authors, tags, date, publication } = pub.data;
const { Content } = await pub.render();
---

<Page title={title}>
    <article class="prose prose-lg max-w-[1024px] prose-img:mx-auto">
        <h2>{title}. {subtitle}</h2>

        <h4><Authors authors={authors} /></h4>

        <Tags tags={tags} />

        <h4>{publication}</h4>

        {date.toDateString()}

        <h3>Abstract</h3>

        <Content />
    </article>
</Page>
