---
import { Icon } from "astro-icon";
import Contact from "./Contact.astro";

interface Props {
    intro: string;
    name: string;
    avatar: string;
    socials: {
        url: string;
        icon: string;
        contact: boolean;
    }[];
}

const { intro, name, avatar, socials } = Astro.props;
---

<!-- id="home" is used by internal anchors -->
<div id="home" class="hero">
    <div class="hero-content flex-col gap-16 lg:flex-row">
        <div>
            <div class="avatar pt-16">
                <div
                    class="w-64 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                    <img
                        src={`${import.meta.env.BASE_URL}${avatar}`}
                        alt="Profile picture"
                    />
                </div>
            </div>
            <p class="text-2xl font-bold pt-8">{intro}</p>
            <h1 class="text-4xl font-bold pt-4 pb-8">{name}</h1>
            <div class="flex gap-y-2 gap-x-4">
                {
                    socials.map(social => (
                        <Contact contact={social.contact}>
                            <div class="indicator">
                                <span class="indicator-item badge badge-info">
                                    <Icon name="external-link" />
                                </span>
                                <a
                                    class="btn btn-circle btn-outline btn-info"
                                    href={social.url}
                                    target="_blank"
                                >
                                    <Icon
                                        name={social.icon}
                                        style="font-size: 1.3rem;"
                                    />
                                </a>
                            </div>
                        </Contact>
                    ))
                }
            </div>
        </div>

        <div>
            <p class="py-6">
                <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
                    <slot />
                </article>
            </p>
        </div>
    </div>
</div>
