---
import { getEntryBySlug } from "astro:content";

import Drawer from "@components/Drawer.astro";
import Footer from "@components/Footer.astro";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";

interface Props {
    title: string;
}

const { data: about } = await getEntryBySlug("about", "me");

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            property="og:description"
            content={about.description}
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | {about.title}</title>
        <GoogleAnalytics trackingId={about.googleAnalytics} />
        <link
            rel="icon"
            type="image/svg+xml"
            href={`${import.meta.env.BASE_URL}${about.favicon}`}
        />
    </head>
    <body class="bg-base-200">
        <Drawer>
            <slot />
            <Footer />
        </Drawer>
        <style is:global>
            [astro-icon] {
                height: 1em;
                display: inline-block;
                vertical-align: -0.125em;
            }

            section {
                --tw-bg-opacity: 0.1;
                border-color: hsl(var(--bc) / var(--tw-bg-opacity));
                @apply border-b-[0.125rem] py-12;
            }

            section.heading {
                @apply flex flex-col gap-4;
            }

            section.heading > h2 {
                @apply text-3xl font-bold;
            }

            @media (min-width: 768px) {
                section.heading {
                    @apply grid grid-cols-4 gap-0;
                }

                section.heading > :last-child {
                    @apply col-span-3;
                }
            }
        </style>
    </body>
</html>
